@import './variables';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $familyText;
    color: $textColor;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

//header
.header {
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        }
    &__logo_text {
            font-family: $familyTitle;
            font-size: 40px;
            font-weight: 400;
            color: $headerColor;
        }
    &__menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    &__nav_item {
        text-decoration: none;
        color: $headerColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 125%;
    }
}

//intro
.intro {
    background-image: url("img/intro_image.png") ;
        min-height: 758px;
        position: relative;
    
    &__info {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 434px;
        padding-left: 60px;
    }
    &__header {
        font-family: $familyTitle;
        color: $headerColor;
        font-size: 65px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        margin: 0;
        // padding-bottom: 18px;
    }
    &__description {
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
    &__button {
        border-radius: 18px;
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
        background: rgb(41, 47, 54);
        color: #FFFFFF;
        font-size: 18px;
        position: static;
        width: 227.14px;
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

//projects
.projects {
    padding-top: 96px;
    
    &__header {
        margin: 0;
        font-family: $familyTitle;
        text-align: center;
        color: $headerColor;
        font-size: 50px;
        font-weight: 400;
        line-height: 125%;
        padding-bottom: 8px;
    }
    &__description {
        margin: 0 auto;
        text-align: center;
        width: 737px;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 93px;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 550px);
        justify-content: space-between;
        row-gap: 56px;
    }
    &__container_info {
        @include flexCenter;
        justify-content: space-between;
        padding-top: 28px;
    }
    &__title {
        margin: 0;
        padding-bottom: 4px;
        font-family: $familyTitle;
        color: $headerColor;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
    }
    &__descr {
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
    &__info_button {
       background-color: #FFFFFF;
       border: none;
    }
}

//counter
.counter {
    background-color: #F4F0EC;
    margin-top: 96px;
    &__items {
        min-height: 457px;
        display: grid;
        grid-template-columns: repeat(4, 246px);
        justify-content: space-around;
        align-items: center;
        gap: 78px;
    }
    &__item {
        text-align: center;
        border-right: 1px solid #cda274;
        &:last-child {
            border-right: none;
        }
    }
    &__num {
        color: #CDA274;
        font-family: $familyTitle;
        font-size: 85px;
        font-weight: 400;
        line-height: 125%;
        margin: 0;
    }
}

//blog
.blog {
    margin-top: 96px;
    &__header {
        font-family: $familyTitle;
        color: $headerColor;
        font-size: 50px;
        font-weight: 400;
        line-height: 125%;
        text-align: center;
    }
    &__description {
        width: 810px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
    }
    &__articles {
        padding-top: 52px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 27px;
        &_back {
            padding: 21px;
            width: 382px;
            @include flexCenter;
            flex-direction: column;
            box-sizing: border-box;
            border: 1px solid rgb(231, 231, 231);
            border-radius: 62px;
            box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
            &:hover {
                background: #f4f0ec;
             }
        }
    }
    &__articles_header {
        position: absolute;
        @include flexCenter;
        margin: 0;
        width: 129px;
        height: 41px;
        transform: translate(10%, -160%);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-transform: capitalize;
        background-color: #FFFFFF;
        border-radius: 8px 8px 8px 0px;
    }
    &__title {
        margin: 0;
        padding-top: 21px;
        padding-right: 66px;
        width: 80%;
        font-family: $familyTitle;
        color: $headerColor;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
    }
    &__articles_bottom {
        padding-top: 30px;
        width: 340px;
        @include flexCenter;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__articles_btn {
        background-color: inherit;
        border: none;
        &svg circle{
            width: 52px;
        }
    }
    &:hover svg circle{
        fill: #FFFFFF;
    }
}

//footer
.footer {
    display: flex;
    padding-top: 96px;
    gap: 101px;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    &__logo_block {
        width: 393px;
        display: flex;
        flex-direction: column;
        gap: 30px
    }
    &__logo {
        @include logoImage;
    }
    &__logo_text {
        @include logoText;
    }
    &__logo_icon {
        display: flex;
        gap: 54px;
     }
    &__menu_title, &__contact_title {
        font-family: $familyTitle;
        color:  $headerColor;
        margin: 0;
        font-size: 25px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: left;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        &_link {
            text-decoration: none;
            color: $textColor;
            font-family: $familyText;
            font-size: 22px;
            font-weight: 400;
            line-height: 300%;
            text-align: left;
        }
     }
     &__contact {
        width: 258px;
        &-text {
           color: $textColor;
           font-family: $familyText;
           font-size: 22px;
           font-style: normal;
           font-weight: 400;
           line-height: 150%;
           &-email {
              color: $textColor;
              font-family: $familyText;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: 300%;
           }
        }
    }
}
