* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  color: #4D5053;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo_text {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 400;
  color: #292F36;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header__nav_item {
  text-decoration: none;
  color: #292F36;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.intro {
  background-image: url("img/intro_image.png");
  min-height: 758px;
  position: relative;
}
.intro__info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 434px;
  padding-left: 60px;
}
.intro__header {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  margin: 0;
}
.intro__description {
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.intro__button {
  border-radius: 18px;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  background: rgb(41, 47, 54);
  color: #FFFFFF;
  font-size: 18px;
  position: static;
  width: 227.14px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects {
  padding-top: 96px;
}
.projects__header {
  margin: 0;
  font-family: "DM Serif Display", serif;
  text-align: center;
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 8px;
}
.projects__description {
  margin: 0 auto;
  text-align: center;
  width: 737px;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 93px;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  justify-content: space-between;
  row-gap: 56px;
}
.projects__container_info {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
}
.projects__title {
  margin: 0;
  padding-bottom: 4px;
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
}
.projects__descr {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.projects__info_button {
  background-color: #FFFFFF;
  border: none;
}

.counter {
  background-color: #F4F0EC;
  margin-top: 96px;
}
.counter__items {
  min-height: 457px;
  display: grid;
  grid-template-columns: repeat(4, 246px);
  justify-content: space-around;
  align-items: center;
  gap: 78px;
}
.counter__item {
  text-align: center;
  border-right: 1px solid #cda274;
}
.counter__item:last-child {
  border-right: none;
}
.counter__num {
  color: #CDA274;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
}

.blog {
  margin-top: 96px;
}
.blog__header {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}
.blog__description {
  width: 810px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.blog__articles {
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 27px;
}
.blog__articles_back {
  padding: 21px;
  width: 382px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog__articles_back:hover {
  background: #f4f0ec;
}
.blog__articles_header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 129px;
  height: 41px;
  transform: translate(10%, -160%);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  background-color: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
}
.blog__title {
  margin: 0;
  padding-top: 21px;
  padding-right: 60px;
  width: 80%;
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
}
.blog__articles_bottom {
  padding-top: 30px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.blog__articles_btn {
  background-color: inherit;
  border: none;
}
.blog__articles_btn svg circle:hover {
  fill: #FFFFFF;
}

.footer {
  display: flex;
  padding-top: 96px;
  gap: 101px;
  justify-content: space-around;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.footer__logo_block {
  width: 393px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__logo_text {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 400;
  color: #292F36;
}
.footer__logo_icon {
  display: flex;
  gap: 54px;
}
.footer__menu_title, .footer__contact_title {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__menu_link {
  text-decoration: none;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  text-align: left;
}
.footer__contact {
  width: 258px;
}
.footer__contact-text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__contact-text-email {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url("img/Banner.png");
  min-height: 356px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.banner__info {
  text-align: center;
  background-color: #fff;
  padding: 41px;
  border-radius: 37px 37px 0px 0px;
}
.banner__info_header {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  text-align: left;
}
.banner__info_breadcrump {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.latest__article {
  padding-top: 150px;
}
.latest__article_wrapper {
  border: 1px solid #e7e7e7;
  display: flex;
  gap: 62px;
  padding: 22px;
  border-radius: 62px;
  align-items: center;
}
.latest__article_title {
  margin-bottom: 30px;
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
}
.latest__article_image {
  max-width: 569px;
  border-radius: 50px;
}
.latest__article_content {
  min-height: 478px;
  padding-top: 51px;
}
.latest__article_content-header {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-size: 25px;
}
.latest__article_content-text {
  padding-top: 22px;
  margin-bottom: 41px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.latest__article_bottom-wrap {
  padding-top: 30px;
  width: 489px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.latest__article_btn {
  width: 52px;
  background-color: inherit;
  border: none;
}
.latest__article_btnsvg circle {
  width: 52px;
  cursor: pointer;
}

.blogs__title {
  text-align: left;
}

.blog_page {
  flex-wrap: wrap;
}

.count__page {
  margin-top: 51px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}
.count__page_wrap {
  display: flex;
  gap: 20px;
}
.count__page_number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px #cda274 solid;
  width: 52px;
  height: 52px;
  border-radius: 52px;
  text-decoration: none;
}
.count__page_number_value {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}
.count__page_number:hover {
  background: #f4f0ec;
  border: none;
  width: 54px;
  height: 54px;
}
.count__page circle#Elips:hover {
  fill: #f4f0ec;
}
.count__page circle#Elips:hover circle {
  stroke: none;
}

.footer__blog {
  padding-top: 0;
}/*# sourceMappingURL=style.css.map */